@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .site-title {
    font-size: 2rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li.active {
    background-color: #555;
  }
  
  .nav li:hover {
    background-color: #777;
  }

  .itemsPage {
    display: flex;
  }

  .filterBar{
    padding: 16px;
    margin-top: 50px;
    position: fixed;
    width: 300px;
  }

  .filter {
    border-style: solid;
    border-color: hsl(0, 0%, 84%);
    border-width: 1px;
    padding: 5%;
    margin-bottom: 5%;
    text-align: left;
  }

  .filter h1 {
    font-size: 16px;
  }

  .filter input{
    margin: 10px 0px 0px 0px;
  }
  
  .filter label{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 7px;
  }
  .itemCard {
    display: block;
  }

  .itemCard img {
    width: 400px;
    height: 400px;
    padding: 60px;
  }

  .itemCard h1 {
    font-size: 15px;
  }

  .itemCard p {
    font-size: 18px;
  }

  .itemCardArray {
    margin-left: 300px;
    width: 80%;
    display:flex;
    justify-content: center;
    padding: 2%;
    flex-wrap: wrap;
  }


  .stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  .stars i.active {
    color: #ff9c1a;
  }


  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #sidebarTrigger {
    float: left;
    transition: margin-left .5s;
    padding: 0px;
  }

  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  .topnav .cart button{
    float: right;
    display: block;
    border: none;
  }

  .topnav .cart button:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav .cart button.active {
    background-color: #2196F3;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

  .listing {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
  }

  .listing selection {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
  }

  .listing selection p {
    margin-top: 0px;
    margin-left: 0px;
    float: left;
  }

  .listing selection h3 {
    margin-top: 5px;
    margin-left: 0px;
    float: left;
  }

  .listing selection h1 {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .listing img {
    margin-top: 50px;
    margin-left: 300px;
    position:relative;
    width: 600px;
    height: 600px;
  }

  .listing content {
    display: block;
    text-align: left;
    max-width: 1000px;
    margin-left: 50px;
  }


  .listing content h1 {
    font-size: x-large;
  }

  .listing content li {
    margin-bottom: 5px;
  }


  .sizeButton {
    width: 70px;
    height: 40px;
    font-size: large;
    background-color: white;
    border-color: rgb(192, 177, 177);
    margin-right: 10px;
    float: left;
  }

  .sizeButton:hover {
    border-color: black;
  }

  .listing hr{
    margin-left: 50px;
  }

  .addToCartButton {
    margin-top: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 400px;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    float: left;
    background-color: rgb(15, 175, 108);
  }

  .addToCartButton:hover {
    color: rgb(15, 175, 108);
    background-color: white;
  }


  /* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-family: 'Courier New', Courier, monospace;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  float: right;
  border: none;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.cartItem {
  display: flex;
  width: 100%;
  height: 300px;
  padding: 60px;
}

.cartItemDetails {
  color: rgb(189, 59, 59);
  font-size: large;
  font-weight: bold;

  margin-left: auto;
}

.cartItemPrice {
  margin-left: auto;
  padding-left: 5%;
}

.cartTotalPrice {
  font-weight: bold;
  font-size: larger;
  padding-left: 60px;
  padding-right: 60px;
}

.cartTotalPrice header {
  float: left;
}

.cartTotalPrice value {
  float: right;;
}

.checkoutProceedButton {
  width: 82%;
  margin-bottom: 2%;
  font-weight: bolder;
  font-size: x-large;
  color: white;
  background-color: rgb(15, 175, 108);
}

.checkoutProceedButton:hover {
  color: rgb(15, 175, 108);
  background-color: white;
}

.orderPage {
  display:flex;
  margin-top: 25px;
  /* justify-content: center; */
  text-align: left;
  margin-left: 30px;
}

.orderSummary {
  top: 65px;
  left: 800px;
  width: 40%;
  position: fixed;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fefefe;
  overflow: scroll;
  height: 100%;
  padding-bottom: 5%;
}

.orderForm {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 750px;
  background-color: rgb(243, 239, 239);
}

.orderForm h1 {
  font-size: x-large;
  margin-bottom: 50px;
}

.orderForm hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.orderForm input {
  width: 400px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.orderForm input[type=submit] {
  width: 60%;
  margin-bottom: 2%;
  font-weight: bolder;
  font-size: x-large;
  color: white;
  background-color: rgb(15, 175, 108);
}

.checked {
  color: orange;
}

.review {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-style:groove;
}

.review username {
  font-size: small;
  font-style: italic;
}

.chatbot {
  position: fixed;
  right : 0px;
  bottom: 0;
  padding: 1%;
}

.chatbot button {
  border-style: solid;
}

.chatbox {
  height: 200px;
  width: 400px;
  position: relative;
  right: 93px;
  border-style: double;
  background-color: white;
  font-weight: bold;
  padding: 1%;
  font-size: small;
}

.chatbox botMsg {
  padding: 1%;
  border-radius: 60px 60px 60px 60px;
-moz-border-radius: 60px 60px 60px 60px;
-webkit-border-radius: 60px 60px 60px 60px;
border: 0px solid #000000;
background-color: #94c8f1;
  float: left;
}

.chatbox usermsg {
  padding: 1%;
  border-radius: 60px 60px 60px 60px;
-moz-border-radius: 60px 60px 60px 60px;
-webkit-border-radius: 60px 60px 60px 60px;
border: 0px solid #000000;
background-color: #9bf3a7;
  float:right;
}

.chatbox textarea {
  
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}